<%- include('./partials/header') %>

<!-- Hero Container start -->
<div class="hero-container">
  <!-- Hero arrow start -->
  <%- include('./partials/navbar') %> 
  <div class="hero-arrow">
      <a href="#about-BFTI"><img src="./images/icon-arrow-down.svg" alt=""></a>
  </div>
  <!-- Hero arrow end -->
</div>
<!-- Hero Container end -->

<!-- About BFTI start -->
<div class="container about-BFTI" id="about-BFTI">
  <h1 class="black-card-head"><span>About BFTI</span></h1>
  <p>BFTI is a registered organisation under the banner of Bhashahome Services India LLP,<br> 
      which facilitates the performing arts enthusiasts under the guidance of professionals<br>
      of various wizardries.<br>
      Right from the acting to various forms of dances,<br> 
      imbibing the detailed minutiae of singing to train the nuances of instrumental music,<br>
      BFTI professionals impart the creative education to the aspirants.</p><br>
  <h1><button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Enquire Now</button></h1>
  <%- include('./partials/enquire') %> 
</div>
<!-- About BFTI end -->

<!-- Director start -->
<div class="container director-container black-box">
  <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
          <p class="text">Cinema or theatre is a different world where one can not only see dreams 
              but make them real too. And what is needed for that – dream and a dreamer. 
              Bollygrad Film & Television Institute (BFTI) believes that each and everyone 
              has the craft of visualising the moments of life in an artistic approach. 
              And here comes the objective of BFTI - Transforming an amateur to a 
              professional crafter who can live their dreams through the performing arts.</p>
          <h1 class="title">DR. Ramendra Chakarwarti</h1>
          <p class="designation">-Director</p>
      </div>
  </div>
</div>
<!-- Director end -->

<!-- Mission & Vision start -->
<div class="container about-BFTI">
  <h1 class="black-card-head"><span>Our Mission & Vision</span></h1>
  <p>Our mission is to provide proper and affordable guidance to all such talented youngsters, who<br>cannot other wise due to lack of accessibility or lack of money or both. Our vision is to train<br>people from each and every aspect of movie making, so as to produce not just commercial<br>movies but offer Indian audiences with quality art pieces giving the industry artists with the<br>right vision.
</div>
<!-- Mission & Vision end -->

<!-- Courses start -->
<div class="container courses black-box">
  <h1><span>Our Courses</span></h1>
  <div class="card-group">
      <div class="card">
        <div class="course-img course-img1"></div>
        <div class="card-body">
          <h5 class="card-title">Film Acting Course</h5>
          <p class="card-text"><a href="/courses">Know more...</a></p>
        </div>
      </div>
      <div class="card">
          <div class="course-img course-img2"></div>
          <div class="card-body">
            <h5 class="card-title">Theatre Course</h5>
            <p class="card-text"><a href="/courses">Know more...</a></p>
          </div>
        </div>
        <div class="card">
          <div class="course-img course-img3"></div>
          <div class="card-body">
            <h5 class="card-title">Dance Course</h5>
            <p class="card-text"><a href="/courses">Know more...</a></p>
          </div>
        </div>
        <div class="card">
          <div class="course-img course-img4"></div>
          <div class="card-body">
            <h5 class="card-title">Short Films</h5>
            <p class="card-text"><a href="/courses">Know more...</a></p>
          </div>
        </div>
    </div>
</div>
<!-- Courses end -->

<!-- Why BFTI start-->
<div class="container why">
  <h1 class="black-card-head"><span>Why BFTI</span></h1>
  <div class="card-group text-center why-cards">
      <div class="card">
        <div class="rich-icon1 rich-icon"><img src="/images/book-reader-solid 1.svg" alt="">
          <br><p class="card-text">Best in <br>Explaination</p>
          </div>
      </div>
      <div class="card">
          <div class="rich-icon2 rich-icon"><img src="/images/Men.svg" alt="">
            <br><p class="card-text">Best<br>Faculties</p>
            </div>
        </div>
        <div class="card">
          <div class="rich-icon3 rich-icon"><img src="/images/video-solid 1.svg" alt="">
            <br><br><p class="card-text">Practical<br>Implimentaion</p>
            </div>
        </div>
        <div class="card">
          <div class="rich-icon4 rich-icon"><img src="/images/rupee-sign-solid 1.svg" alt="">
            <br><p class="card-text">Affordable<br>Price</p>
            </div>
        </div>
    </div>
</div>

<%-include('./partials/map') %> 
<%- include('./partials/footer') %>